<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Css/HeaderThanhToan.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link href="~/Content/Css/BodyLeft1.css" rel="stylesheet" />
    <link href="~/Content/Css/BodyLeft2.css" rel="stylesheet" />
    <link href="~/Content/Css/Right-SideBar.css" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <div class="left-header">
            <div class="logo">
                <img src="~/Content/icon/tikitotnhanh.png" />
            </div>
            <i>|</i>
            <div class="tt"><thanhtoan>Thanh toán</thanhtoan></div>
        </div>
        <div class="contact">
            <div class="phoneicon">
                <img src="~/Content/icon/callicon.png" />
            </div>
            <div class="phonetext">
                <div class="sdt"><num>1900-6035</num></div>
                <div class="work"><work>8h - 21h, cả T7 &amp; CN</work></div>
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="htgh">
            <div class="a1"><htgh>Chọn hình thức giao hàng</htgh></div>
            <div class="deal">
                <div><input type="radio" />Giao tiết kiệm</div>
                <div class="green-label">-30k</div>
            </div>
            <div class="goi">
                <img src="~/Content/icon/tradingicon.png" class="icon" />
                <goi>Gói: Giao thứ 5, trước 19h, 26/10</goi>
            </div>
            <div class="giaotietkiem">
                <div class="ghtk">
                    <div class="n1">
                        <div class="z1"><z1>GIAO TIẾT KIỆM</z1></div>
                        <div class="z2">
                            <s>42.000đ</s>
                            <z2>12.000đ</z2>
                        </div>
                    </div>
                    <div class="ship">
                        <div class="freeshipicon"><img src="~/Content/icon/shipicon.png" /></div>
                        <z3>Được giao bởi GIA DỤNG VIỆT</z3>
                    </div>
                </div>
                <div class="product">
                    <div class="producticon">
                        <img src="~/Content/icon/Điện thoại samsung galaxy A54 5g.jpg" />
                    </div>
                    <div class="detail">
                        <d1>Điện thoại Samsung Galaxy A54 5G (8GB/128GB) - Hàng...</d1>
                        <div class="sl-gt">
                            <div class="d2">SL: x1</div>
                            <div class="d3">8.480.000đ</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="khuyenmai">
                <skm>Shop khuyến mãi</skm>
                <div class="voucher-link"><a href="#">Nhập hoặc chọn mã ></a></div>
            </div>
        </div>

        <div class="hinh-thuc">
            <div class="hinh-thuc1">
                <div class="title">
                    <h>Chọn hình thức thanh toán</h>
                </div>
                <div class="tien-mat">
                    <input type="radio" />
                    <img src="~/Content/icon/thanh-toan-khi-nhan-hang.jpg" />
                    Thanh toán tiền mặt khi nhận hàng
                </div>
                <div class="viettel">
                    <input type="radio" />
                    <img src="~/Content/icon/viettel-money.png" />
                    Thanh toán bằng ví Viettel Money
                </div>
                <div class="momo">
                    <input type="radio" />
                    <img src="~/Content/icon/momo.png" />
                    Thanh toán bằng ví MoMo
                </div>
                <div class="zalo">
                    <input type="radio" />
                    <img src="~/Content/icon/zalo-pay.jpg" />
                    Thanh toán bằng ví ZaloPay
                </div>
                <div class="VNpay">
                    <div class="btn-vnpay">
                        <input type="radio" />
                        <img src="~/Content/icon/vn-pay.jpg" />
                    </div>
                    <div class="txt-vnpay">
                        Thanh toán bằng VNPAY
                        <div><qr>Quét mã QR từ ứng dụng ngân hàng</qr></div>
                    </div>
                </div>
                <div class="the-quoc-te">
                    <input type="radio" />
                    <img src="~/Content/icon/card.png" />
                    Thanh toán bằng thẻ quốc tế Visa, Master, JCB
                    <div class="add">
                        <button><a>+ Thêm thẻ mới</a></button>
                    </div>
                </div>
                <div class="discount">
                    <txt>Ưu đãi thanh toán thẻ</txt>
                    <div class="dong1">
                        <div class="the1">
                            <div class="c1">
                                <div class="title">Freeship</div>
                                <div class="shinhan"><img src="~/Content/icon/Shinhan-Bank.jpg" /></div>
                            </div>
                            <div class="c2"><c2>Thẻ Shinhan Platinum</c2></div>
                            <div class="c3"><c3>Không giới hạn</c3></div>
                        </div>
                        <div class="the2">
                            <div class="c1">
                                <div class="title">Giảm 30k</div>
                                <div class="shinhan"><img src="~/Content/icon/Shinhan-Bank.jpg" /></div>
                            </div>
                            <div class="c2"><c2>Đơn từ 200k</c2></div>
                            <div class="c3"><c3>Không giới hạn</c3></div>
                        </div>
                        <div class="the3">
                            <div class="c1">
                                <div class="title">Giảm 50k</div>
                                <div class="shinhan"><img src="~/Content/icon/Shinhan-Bank.jpg" /></div>
                            </div>
                            <div class="c2"><c2>Đơn từ 300k</c2></div>
                            <div class="c3"><c3>Không giới hạn</c3></div>
                        </div>
                    </div>
                    <div class="dong2">
                        <div class="the1">
                            <div class="c1">
                                <div class="title">Giảm 50k</div>
                                <div class="shinhan"><img src="~/Content/icon/Shinhan-Bank.jpg" /></div>
                            </div>
                            <div class="c2"><c2>Đơn từ 300k</c2></div>
                            <div class="c3"><c3>Không giới hạn</c3></div>
                        </div>
                        <div class="the2">
                            <div class="c1">
                                <div class="title">Giảm 70k</div>
                                <div class="shinhan"><img src="~/Content/icon/Shinhan-Bank.jpg" /></div>
                            </div>
                            <div class="c2"><c2>Đơn từ 500k</c2></div>
                            <div class="c3"><c3>Không giới hạn</c3></div>
                        </div>
                        <div class="the3">
                            <div class="c1">
                                <div class="title">Giảm 100k</div>
                                <div class="shinhan"><img src="~/Content/icon/Shinhan-Bank.jpg" /></div>
                            </div>
                            <div class="c2"><c2>Đơn từ 700k</c2></div>
                            <div class="c3"><c3>Không giới hạn</c3></div>
                        </div>
                    </div>
                    <div class="dong3">
                        <div class="the1">
                            <div class="c1">
                                <div class="title">Giảm 150k</div>
                                <div class="shinhan"><img src="~/Content/icon/Shinhan-Bank.jpg" /></div>
                            </div>
                            <div class="c2"><c2>Đơn từ 1 triệu</c2></div>
                            <div class="c3"><c3>Không giới hạn</c3></div>
                        </div>
                        <div class="the2">
                            <div class="c1">
                                <div class="title">Giảm 30k</div>
                                <div class="shinhan"><img src="~/Content/icon/Shinhan-Bank.jpg" /></div>
                            </div>
                            <div class="c2"><c2>Đơn từ 200k</c2></div>
                            <div class="c3"><c3>Không giới hạn</c3></div>
                        </div>
                        <div class="the3">
                            <div class="c1">
                                <div class="title">Giảm 50k</div>
                                <div class="shinhan"><img src="~/Content/icon/Shinhan-Bank.jpg" /></div>
                            </div>
                            <div class="c2"><c2>Đơn từ 300k</c2></div>
                            <div class="c3"><c3>Không giới hạn</c3></div>
                        </div>
                    </div>
                    <div class="dong4">
                        <div class="the1">
                            <div class="c1">
                                <div class="title">Giảm 70k</div>
                                <div class="shinhan"><img src="~/Content/icon/Shinhan-Bank.jpg" /></div>
                            </div>
                            <div class="c2"><c2>Đơn từ 500k</c2></div>
                            <div class="c3"><c3>Không giới hạn</c3></div>
                        </div>
                        <div class="the2">
                            <div class="c1">
                                <div class="title">Freeship</div>
                                <div class="shinhan"><img src="~/Content/icon/Shinhan-Bank.jpg" /></div>
                            </div>
                            <div class="c2"><c2>Thẻ Shinhan Classic</c2></div>
                            <div class="c3"><c3>Số lượng có hạn</c3></div>
                        </div>
                        <div class="the3">
                            <div class="c1">
                                <div class="title">Giảm 50k</div>
                                <div class="shinhan"><img src="~/Content/icon/HD_SAISON.jpg" /></div>
                            </div>
                            <div class="c2"><c2>Đơn từ 200k</c2></div>
                            <div class="c3"><c3>Sắp cháy lượt</c3></div>
                        </div>
                    </div>
                    <div class="dong5">
                        <div class="the1">
                            <div class="c1">
                                <div class="title">Giảm 50k</div>
                                <div class="shinhan"><img src="~/Content/icon/mb-bank.jpg" /></div>
                            </div>
                            <div class="c2"><c2>Đơn từ 500k</c2></div>
                            <div class="c3"><c3>Số lượng có hạn</c3></div>
                        </div>
                        <div class="the2">
                            <div class="c1">
                                <div class="title">Freeship</div>
                                <div class="shinhan"><img src="~/Content/icon/tiki.png" /></div>
                            </div>
                            <div class="c2"><c2>TikiCARD</c2></div>
                            <div class="c3"><c3>Không giới hạn</c3></div>
                        </div>
                    </div>
                </div>
                <div class="tien-mat">
                    <input type="radio" />
                    <img src="~/Content/icon/atm.jpg" />
                    Thẻ ATM nội địa/Internet Banking (Hỗ trợ Internet Banking)
                </div>
            </div>
        </div>

    </div>
    <div class="sidebar">
        <div class="sidebar-square">
            <div class="thong-tin-khach-hang">
                <div class="line-1">
                    <div class="left-txt">Giao tới</div>
                    <div class="right-blue-txt">Thay đổi</div>
                </div>
                <div class="line-2">
                    <div class="ten-khach-hang">Quoc Tran Bao&nbsp;|</div>
                    <div class="sdt-khach-hang"> &nbsp; 0328370905</div>
                </div>
                <div class="line-3">
                    <div class="box-home">Nhà</div>
                    <div class="dia-chi-khach-hang">52 Trần Hưng Đạo, Phường 04, Quận 5, Hồ Chí Minh</div>
                </div>
            </div>
        </div>
        <div class="sidebar-square-tiki-khuyen-mai">
            <div class="tiki-khuyen-mai">
                <div class="b2-line-1">
                    <div class="b2-left-txt">Tiki Khuyến mãi</div>
                    <div class="b2-right-txt">Có thể chọn 2&nbsp;<i class="fa-solid fa-circle-exclamation"></i></div>
                </div>
                <div class="b2-line-2">
                    <img src="~/Content/icon/zalo-pay.jpg" class="zalopay"/>
                    <div class="mid-text">Giảm 50k &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa-solid fa-circle-exclamation"></i></div>
                    <button class="apply-btn">Áp dụng</button>
                </div>
                <div class="b2-line-3">
                    <div class="icon-discount"><i class="fa-sharp fa-solid fa-tag"></i></div>
                    <div class="discount-option">Chọn hoặc nhập khuyến mãi khác</div>
                </div>
            </div>
        </div>
        <div class="sidebar-square-ASA">
            <div class="app-dung-ma-giam-gia">
                <div class="ASA-line-1">
                    <div class="text-in-the-box">Thử ngay: Giảm giá cho đơn hàng bằng ASA</div>
                </div>
                <div class="ASA-line-2">
                    <div class="icon-left"><i class="fa-solid fa-a fa-2x"></i></div>
                    <div class="stack-text">
                        <div class="text-above">
                            <b>Chưa áp dụng giảm giá</b>
                            <i class="fa-solid fa-circle-exclamation fa-xs"></i>
                        </div>
                        <div class="text-below">Vì chưa đạt đủ số lượng ASA</div>
                    </div>
                    <label class="switch">
                        <input type="checkbox" name="name" value="" />
                        <span class="slider"></span>
                    </label>
                </div>
                <div class="ASA-line-3">
                    <div class="icon-left"><i class="fa-solid fa-t fa-2x"></i></div>
                    <div class="stack-text">
                        <div class="text-above">
                            <b>Chưa áp dụng giảm giá</b>
                        </div>
                        <div class="text-below">Vì chưa sở hữu tối thiểu 1000 Xu</div>
                    </div>
                    <label class="switch">
                        <input type="checkbox" name="name" value="" />
                        <span class="slider"></span>
                    </label>
                </div>
            </div>

            <div class="sidebar-square-yeu-cau-hoa-don">
                <div class="yeu-cau-hoa-don">
                    <div class="text-and-box">
                        <input type="checkbox" class="checkbox-option" />
                        <div>
                            <div>Yêu cầu hóa đơn</div>
                            <div class="text-below">Tiki Trading chỉ xuất hóa đơn điện tử</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sidebar-square-V">
                <div class="don-hang">
                    <div class="V-section-1">
                        <div class="section-above">
                            <div class="V-left-text">Đơn hàng</div>
                            <div class="V-right-blue">Thay đổi</div>
                        </div>
                        <div class="section-below">
                            <div class="V-B-left-text">1 sản phẩm.</div>
                            <div class="V-B-right-blue">&nbsp;  Xem thông tin <i class="fa-solid fa-chevron-down fa-xs"></i></div>
                        </div>
                    </div>

                    <div class="V-section-2">
                        <div class="VS2-LINE1">
                            <div class="price-label">Tạm tính</div>
                            <div class="price">8.480.000đ</div>
                        </div>
                        <div class="VS2-LINE2">
                            <div class="price-label">Phí vận chuyển</div>
                            <div class="price">42.000đ</div>
                        </div>
                        <div class="VS2-LINE3">
                            <div class="price-label">Khuyến mãi vận chuyển</div>
                            <div class="V-price-red">-30.000đ</div>
                        </div>
                    </div>

                    <div class="V-section-3">
                        <div class="VS3-LINE1">
                            <div class="total-label">Tổng tiền</div>
                            <div class="total-number">8.492.000đ</div>
                        </div>
                        <div class="VS3-LINE2">
                            <div class="tax-vat">(Đã bao gồm VAT nếu có)</div>
                        </div>
                        <div class="VS3-LINE3">
                            <i class="V-blue-text">FREESHIP</i>
                            <b>Đã được áp dụng!</b>
                        </div>
                        <div class="VS3-LINE4">
                            <button class="red-button"><div class="white-text">Đặt hàng</div></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>








    <div>
        @RenderBody()
    </div>
</body>
</html>
